# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.mymetadata

# idea ignore
.idea/
*.ipr
*.iml
*.iws

.svn/
.externalToolBuilders/

out/
logs/
test/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

